[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flask-shell-bpython = "*"
click = "*"
pep8-naming = "*"
flake8-bugbear = "*"
flake8-bandit = "*"

[packages]
Flask = "*"
python-dotenv = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-caching = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
marshmallow = "*"
flask-apispec = "*"

[requires]
python_version = "3.7"
